@font-face {
  font-family: "Rabar";
  src: url("../fonts/rabar/Rabar_043.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Rabar", sans-serif !important;
}